.container{
    margin: 0 auto;
    max-width: 1005px;
}
.search-bar{
    display:flex;
    justify-content: center;
    position: relative;
    top: -34px;

}
.search-bar input{
    padding: 22px 502px 21px 32px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    color:#ABB5BE;
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;
}


.grid_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 22px 19px;  
}
@media screen and (max-width:950px){
    .grid_main{
        grid-template-columns: 1fr 1fr;
    }
    .search-bar input{
        padding: 22px 100px 21px 32px;
    }
}
@media screen and (max-width:455px){
    .search-bar input{
        padding: 22px 50px 21px 32px;
    }
}


.grid-item{
    background-color: #ffff;
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    border-radius: 4px;
}
.grid-item-search{
    display:none;
}

.grid-item div{
    font-size: 48px;
}
.grid-item h2 {
    margin-top: 18px;
    text-decoration-line: underline;
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
}
.grid-item p {
    margin-top: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

